html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.grid-wrap {
  width: 414px;
  height: 283px;
  margin: 14px;
  border-radius: 10px 10px 7px 7px;
  background-color: #e8eef5;
  color: #ffffff;
  display: grid;
  grid-template-columns: 14% 86%;
  grid-template-rows: 72px 77px 55px 74px;
  grid-template-areas:
    "head head"
    "tick1 item1"
    "tick2 item2"
    "tick3 item3";
}
.head {
  grid-area: head;
  margin: 0px 0px 0px 35px;
  padding-top: 18px;
  padding-bottom: 25px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #0f012a;
}

.tick1 {
  grid-area: tick1;
  border-top: 2px solid white;
  padding-top: 29px;
  padding-left: 32px;
}
.tick2 {
  grid-area: tick2;
  border-top: 2px solid white;
  padding-top: 18px;
  padding-left: 32px;
}

.tick3 {
  grid-area: tick3;
  border-top: 2px solid white;
  padding-top: 29px;
  padding-left: 32px;
}
.item1 {
  grid-area: item1;
  padding-top: 13px;
  word-spacing: 2px;
}

.item2 {
  grid-area: item2;
  padding-top: 14px;
  word-spacing: 2px;
}

.item3 {
  grid-area: item3;
  padding-top: 13px;
}
.item1,
.item2,
.item3 {
  color: #0f012a;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  border-top: 2px solid white;
}
img {
  transform: rotate(-3deg);
  width: 60%;
  height: auto;
}
