html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 80%;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  background-color: #f3f0ea;
  width: 1222px;
  height: 673px;
  padding: 10px;
}

.grid-wrap {
  color: #ffffff;
  display: grid;
  grid-template-columns: 596px 596px;
  grid-template-rows: auto;
  grid-template-areas:
    "box1 box2"
    "box1 box3";
  grid-gap: 9px 13px;
}
.box1 {
  grid-area: box1;
  background-color: #282934;
  max-height: 673px;
  text-align: center;
  padding: 160px 0px 100px 0px;
}
.box2 {
  grid-area: box2;
}

.box2 img {
  max-width: 592px;
  height: 412px;
}

.box3 {
  grid-area: box3;
  background-color: #aa714e;
  max-width: 592px;
  height: 228px;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 50px 90px 60px 90px;
}
h2 {
  font-size: 72px;
  margin-bottom: 0px;
  line-height: 0px;
}
h3 {
  margin-top: 18px;
  font-size: 34px;
  padding-top: 0px;
}
.btn {
  background-color: #282934;
  border: 2px solid white;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    margin: 0px;
    background-color: #f3f0ea;
  }
  .grid-container {
    background-color: #f3f0ea;
    width: auto;
    height: auto;
  }
  .grid-wrap {
    color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "box1"
      "box2"
      "box3";
    grid-gap: 13px;
  }

  .box1 {
    grid-area: box1;
    background-color: #282934;
    text-align: center;
    max-width: 592px;
    padding: 100px 0px 100px 0px;
  }
  .box2 {
    grid-area: box2;
  }

  .box2 img {
    max-width: 592px;
  }

  .box3 {
    grid-area: box3;
    background-color: #aa714e;
    max-width: 592px;
    height: 228px;
  }
}
