/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.serif {
  font-family: "Times New Roman", Times, serif;
}

#mockup {
  width: 442px;
  height: 312px;
  background-image: url(../img/interface.10.png);
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.widget {
  width: 414px;
  height: 283px;
  margin: 14px;
  border-radius: 10px 10px 7px 7px;
  background-color: #e8eef5;
}
.grid-wrap {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "main-item"
    "item"
    "item"
    "item";
  grid-gap: 25px;
}
.h {
  margin: 0px 0px 0px 35px;
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #0f012a;
  letter-spacing: 1px;
}
.point {
  color: #0f012a;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  margin: 0px 0px 0px 35px;
  margin-top: 0px;
}

.main-item {
  margin-top: 2px;
}
.item {
  border-top: 2px solid white;
}
.item img {
  transform: rotate(-6deg);
}
