/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.serif {
  font-family: "Times New Roman", Times, serif;
}

#mockup {
  width: 1222px;
  height: 673px;
  background-image: url(../img/complex.07.png);
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.container {
  background-color: #f3f0ea;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "element1 element2"
    "element1 element3";
  grid-gap: 25px;
  padding: 20px;
}
.element1 {
  grid-area: element1;
  background-color: #282934;
  width: 1188px;
}
.element2 {
  grid-area: element2;
  width: 1185px;
}

.element3 {
  grid-area: element3;
  background-color: #aa714e;
  width: 1185px;
  height: 456px;
}

.widget h2 {
  margin: 0px 0px 0px 35px;
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
}
